In [1]:
import pandas as pd
import numpy as np
from math import *
import pickle5 as pickle

df = pd.read_csv(r'steam-200k.csv')
print(df.head())

      userId                        game playOrPurchase  hourPlayed  rating
0  151603712  The Elder Scrolls V Skyrim       purchase         1.0       0
1  151603712  The Elder Scrolls V Skyrim           play       273.0       0
2  151603712                   Fallout 4       purchase         1.0       0
3  151603712                   Fallout 4           play        87.0       0
4  151603712                       Spore       purchase         1.0       0

In [2]:
# df.loc[df['hourPlayed']>50]
# df.loc[(df['userId']==151603712)]
df = df.drop(df.loc[df['playOrPurchase']=="purchase"].index)
df = df.drop(columns=['playOrPurchase'])

In [3]:
df.loc[(df['hourPlayed']>50),'rating'] = 5
df.loc[(df['hourPlayed']>10) & (df['hourPlayed']<=50),'rating'] = 4
df.loc[(df['hourPlayed']>5) & (df['hourPlayed']<=10),'rating'] = 3
df.loc[(df['hourPlayed']>1) & (df['hourPlayed']<=5),'rating'] = 2
df.loc[(df['hourPlayed']<=1),'rating'] = 1

In [4]:
df

           userId                        game  hourPlayed  rating
1       151603712  The Elder Scrolls V Skyrim       273.0       5
3       151603712                   Fallout 4        87.0       5
5       151603712                       Spore        14.9       4
7       151603712           Fallout New Vegas        12.1       4
9       151603712               Left 4 Dead 2         8.9       3
...           ...                         ...         ...     ...
199991  128470551                Fallen Earth         2.4       2
199993  128470551                 Magic Duels         2.2       2
199995  128470551                 Titan Souls         1.5       2
199997  128470551  Grand Theft Auto Vice City         1.5       2
199999  128470551                        RUSH         1.4       2

[70489 rows x 4 columns]

In [5]:
userRatings = df.pivot_table(index=['userId'],columns=['game'],values='rating')
userRatings.head()

game,007 Legends,0RBITALIS,1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),10 Second Ninja,"10,000,000",100% Orange Juice,1000 Amps,12 Labours of Hercules,12 Labours of Hercules II The Cretan Bull,12 Labours of Hercules III Girl Power,...,rFactor,rFactor 2,realMyst,realMyst Masterpiece Edition,resident evil 4 / biohazard 4,rymdkapsel,sZone-Online,the static speaks my name,theHunter,theHunter Primal
userId,,,,,,,,,,,,,,,,,,,,,
5250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# corrMatrix = userRatings.corr()
# corrMatrix.head()

In [7]:
corrMatrix = userRatings.corr(method='pearson', min_periods=20)
corrMatrix.head()

game,007 Legends,0RBITALIS,1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),10 Second Ninja,"10,000,000",100% Orange Juice,1000 Amps,12 Labours of Hercules,12 Labours of Hercules II The Cretan Bull,12 Labours of Hercules III Girl Power,...,rFactor,rFactor 2,realMyst,realMyst Masterpiece Edition,resident evil 4 / biohazard 4,rymdkapsel,sZone-Online,the static speaks my name,theHunter,theHunter Primal
game,,,,,,,,,,,,,,,,,,,,,
007 Legends,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0RBITALIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10 Second Ninja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"10,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.loc[(df['userId']==151603712)]

       userId                                   game  hourPlayed  rating
1   151603712             The Elder Scrolls V Skyrim       273.0       5
3   151603712                              Fallout 4        87.0       5
5   151603712                                  Spore        14.9       4
7   151603712                      Fallout New Vegas        12.1       4
9   151603712                          Left 4 Dead 2         8.9       3
11  151603712                               HuniePop         8.5       3
13  151603712                          Path of Exile         8.1       3
15  151603712                            Poly Bridge         7.5       3
17  151603712                            Left 4 Dead         3.3       2
19  151603712                        Team Fortress 2         2.8       2
21  151603712                            Tomb Raider         2.5       2
23  151603712                        The Banner Saga         2.0       2
25  151603712                   Dead Island Epidemic         1.4       2
27  151603712                      BioShock Infinite         1.3       2
29  151603712  Dragon Age Origins - Ultimate Edition         1.3       2
31  151603712   Fallout 3 - Game of the Year Edition         0.8       1
33  151603712     SEGA Genesis & Mega Drive Classics         0.8       1
35  151603712                    Grand Theft Auto IV         0.6       1
37  151603712                   Realm of the Mad God         0.5       1
39  151603712                     Marvel Heroes 2015         0.5       1
41  151603712                                Eldevin         0.5       1
43  151603712                                 Dota 2         0.5       1
45  151603712                               BioShock         0.5       1
47  151603712                              Robocraft         0.4       1
49  151603712                            Garry's Mod         0.1       1
51  151603712                               Jazzpunk         0.1       1

In [9]:

myRatings = df.loc[df['userId']==151603712].dropna()
myRatings

       userId                                   game  hourPlayed  rating
1   151603712             The Elder Scrolls V Skyrim       273.0       5
3   151603712                              Fallout 4        87.0       5
5   151603712                                  Spore        14.9       4
7   151603712                      Fallout New Vegas        12.1       4
9   151603712                          Left 4 Dead 2         8.9       3
11  151603712                               HuniePop         8.5       3
13  151603712                          Path of Exile         8.1       3
15  151603712                            Poly Bridge         7.5       3
17  151603712                            Left 4 Dead         3.3       2
19  151603712                        Team Fortress 2         2.8       2
21  151603712                            Tomb Raider         2.5       2
23  151603712                        The Banner Saga         2.0       2
25  151603712                   Dead Island Epidemic         1.4       2
27  151603712                      BioShock Infinite         1.3       2
29  151603712  Dragon Age Origins - Ultimate Edition         1.3       2
31  151603712   Fallout 3 - Game of the Year Edition         0.8       1
33  151603712     SEGA Genesis & Mega Drive Classics         0.8       1
35  151603712                    Grand Theft Auto IV         0.6       1
37  151603712                   Realm of the Mad God         0.5       1
39  151603712                     Marvel Heroes 2015         0.5       1
41  151603712                                Eldevin         0.5       1
43  151603712                                 Dota 2         0.5       1
45  151603712                               BioShock         0.5       1
47  151603712                              Robocraft         0.4       1
49  151603712                            Garry's Mod         0.1       1
51  151603712                               Jazzpunk         0.1       1

In [10]:
myRatings = myRatings.set_index('game')
myRatings.index[1]

'Fallout 4'

In [11]:
myRatings.iloc[1]['rating']

5.0

In [12]:
similar_candidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print("Adding similar movies for " + myRatings.index[i] + "...")
    # retrieve similar movies to this one that I rated
    similar_movies = corrMatrix[myRatings.index[i]].dropna()
    # scale its similarity by how well I rated this movie
    similar_movies = similar_movies.map(lambda x: x * myRatings.iloc[i]['rating'])
    # add the score to the list of similar candidates
    similar_candidates = similar_candidates.append(similar_movies)
    
print("Sort recommendations...")
similar_candidates.sort_values(inplace = True, ascending = False)
similar_candidates.head(10)

<ipython-input-12-6441c191804d>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  similar_candidates = pd.Series()
Adding similar movies for The Elder Scrolls V Skyrim...
Adding similar movies for Fallout 4...
Adding similar movies for Spore...
Adding similar movies for Fallout New Vegas...
Adding similar movies for Left 4 Dead 2...
Adding similar movies for HuniePop...
Adding similar movies for Path of Exile...
Adding similar movies for Poly Bridge...
Adding similar movies for Left 4 Dead...
Adding similar movies for Team Fortress 2...
Adding similar movies for Tomb Raider...
Adding similar movies for The Banner Saga...
Adding similar movies for Dead Island Epidemic...
Adding similar movies for BioShock Infinite...
Adding similar movies for Dragon Age Origins - Ultimate Edition...
Adding similar movies for Fallout 3 - Game of the Year Edition...
Adding similar movies for SEGA Genesis & Mega Drive Classics...
Adding similar movies for Grand Theft Auto IV...
Adding similar movies for Realm of the Mad God...
Adding similar movies for Marvel Heroes 2015...
Adding similar movies for Eldevin...
Adding similar movies for Dota 2...
Adding similar movies for BioShock...
Adding similar movies for Robocraft...
Adding similar movies for Garry's Mod...
Adding similar movies for Jazzpunk...
Sort recommendations...

Fallout 4                                      5.000000
The Elder Scrolls V Skyrim                     5.000000
Spore                                          4.000000
Fallout New Vegas                              4.000000
Call of Duty Advanced Warfare - Multiplayer    3.125602
Path of Exile                                  3.000000
Left 4 Dead 2                                  3.000000
HuniePop                                       3.000000
Sniper Elite 3                                 2.910127
Risen 2 - Dark Waters                          2.780710
dtype: float64

In [13]:
similar_candidates = similar_candidates.groupby(similar_candidates.index).sum()
similar_candidates = similar_candidates.drop(similar_candidates.loc[similar_candidates.index.isin(myRatings.index)].index)

In [14]:
similar_candidates.sort_values(inplace = True, ascending = False)
similar_candidates.head(10)

Borderlands 2                   7.702678
Dishonored                      7.429950
Deus Ex Human Revolution        7.241825
Warframe                        6.868136
The Witcher Enhanced Edition    6.644322
Torchlight                      6.598597
Crysis                          6.349068
Natural Selection 2             6.210442
Half-Life                       6.203457
Heroes & Generals               6.187664
dtype: float64

In [15]:
compression_opts = dict(method='zip', archive_name='outCorr.csv')  
corrMatrix.to_csv('out.zip', index=True, compression=compression_opts)

In [16]:
corrMatrix.to_pickle("./corrMatrix.pkl")